body{
    background: white;
    font-family: 'Montserrat';
}

.container,.mobile-view,.mobile-view-2,.top-bar,.box-container,.box,.footer-section,.mobile-view-2 .icons-row,.small-boxes-row,.checkout-div,.rating-icons-row{
    display: flex;
}

.container,.top-bar,.box-container,.footer-section,.mobile-view-2 .icons-row,.small-boxes-row,.rating-icons-row{
    flex-direction: row;
}

.mobile-view,.mobile-view-2,.box{
    flex-direction: column;
}

.main-container{
    gap:40px;
    justify-content: center;
}

.container{
    gap:30px;
    padding: 25px 0px 0px 0px;
    justify-content: center;
}

.mobile-view,.mobile-view-2{
    height:42.6rem;
    box-shadow: .2px .2px 5px .2px rgb(221, 218, 218);
    margin: -12px 0px 0px 0px;
    border-radius: 10px;
}

.mobile-view{
    padding:12px 18px 0px 17px ;
    background: white;
    gap:8px;
    width:19rem;
}

.mobile-view-2{
    background: white;
    width:20rem;
    padding:10px 12px 0px 12px;
}

.mobile-view .top-bar{
    gap:220px;
    justify-content: space-between;
}

.mobile-view-2 .top-bar{
    gap:260px;
    justify-content: space-between;
}

.top-bar ion-icon{
    font-size: 1.3rem;
}

.box-container{
    gap:20px;
}

.box{
    align-items: center;
    padding:2px 2px 2px 2px;
    width:9rem;
    height: 9rem;
    background: white;
    box-shadow: .2px .2px 10px .2px rgb(236, 236, 236);
}

.box img{
    margin: 5px 2px 2px 12px;
    width: 6rem;
    height: auto;
}

.box p{
    margin: 3px 0px 0px 0px;
}


.footer-section{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: -11px 0px 0px -16px;
    width: 111%;
    height: 9rem;
    box-shadow: .2px .2px 22px .2px lightgray;
    gap:40px;
    align-items: center;
    justify-content: center;
    background: white;
}

.footer-section ion-icon{
    font-size: 1.2rem;
}

.footer-section ion-icon:nth-child(3){
    font-size: 1.3rem;
    background: black;
    color:white;
    padding:5px;
    border-radius: 200px;
    box-shadow: .2px .2px 2px .2px black;
}

.mobile-view-2 .icons-row{
    justify-content: center;
    gap:20px;
}

.bg-photo{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin:-10px 0px 0px -12px;
    color: white;
    background-image:url('images/kasper-urdal-o49elKbjPZI-unsplash.jpg');
    background-position: center;
    background-size:cover;
    width: 108%;
    height:50vh;
    clip-path: polygon(0% 0%,100% 0%,100% 78%,0% 100%);
    padding-right: 0px;
}

.mobile-view-2 .icons-row ion-icon{
    font-size: 1.5rem;
    box-shadow: .2px .2px 12px .2px lightgray;
    background: black;
    color:white;
    padding:5px 6px 5px 6px;

}

span{
    margin-top:7px;
    font-family: 'Roboto';
}

h3{
    border-radius: 200px;
    padding:5px 5px 6px 15px;
    box-shadow: .2px .2px 6px .2px rgb(236, 236, 236);
}

.small-boxes-row{
    gap:20px;
}

a{
    font-family: 'Roboto'; 
    padding:5px 10px 5px 12px;    
    text-decoration: none;
}

.small-boxes-row p{
    font-size: .76rem;
    background: rgb(27, 27, 27);
    color:white;
    padding:7px 10px 7px 12px;
    box-shadow: .2px .2px 12px .2px lightgray;
}

.checkout-div{
    padding:22px 2px 22px 2px;
    gap:20px;
    color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin:20px 0px 0px -12px ;
    width: 107%;
    height: 2rem;
    background: black;
}

.checkout-div a{
    padding:7px 30px 7px 30px;
    font-size: .9rem;
    background: white;
    color:black;
    border-radius: 200px;
    margin-left: 45px;
}

.checkout-div p{
    margin: 5px 0px 0px 17px;
}


.small-box{
    background: black;
}


.add-more-button{
font-size: .9rem;
    padding:6px 15px 7px 18px;
    background: rgb(20, 20, 20);
    width: 20%;
    color:white;
    border-radius: 5px;
}