body{
    font-family: 'Montserrat';
}

.container,.icons-link-column,.icons-column,.icons-link-row,.nav-bar,.top-bar,.profile-row{
    display: flex;
}

.container,.icons-link-row,.top-bar,.profile-row{
    flex-direction: row;
}

.nav-bar:nth-child(1),.nav-bar:nth-child(2){
    padding:18px 28px 2px 18px;
    width: 3rem;
}

h3,span,a{
    color:rgb(165, 29, 79);
}

.nav-bar:nth-child(1) .top-bar ion-icon,.nav-bar:nth-child(2) .top-bar ion-icon{
    margin: 0px 0px 0px 11px;
    border-radius: 4px;
    font-size: 1.4rem;
    background: rgb(165, 22, 65);
}



.top-bar ion-icon{
    color:white;
    padding:4px 8px 5px 7px;
}

.nav-bar:nth-child(3) .top-bar ion-icon{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
    margin: 0px 0px 0px -11px;

}

input{
    outline: none;
    border:none;
    box-shadow: .2px .2px 10px .2px rgba(233, 233, 233, 0.517);
    width: 87%;
    padding: 6px 2px 6px 10px;
}

input::placeholder{
    font-family: 'Roboto';
}

.nav-bar,.icons-column,.icons-link-column{
    flex-direction: column;
}

.icons-column{
    margin: 0px 0px 0px 8px;
    gap:45px;
}

.container{
    justify-content: center;
    align-items: center;
}

.container{
    padding-top: 35px;
    gap:50px;
}

.nav-bar{
    gap:2px;
    padding:18px 18px 2px 18px;
    height: 39.5rem;
    box-shadow: 1px 2px 9px 0px rgb(237 237 237);
    border-radius: 12px;    
}

.icons-column ion-icon{
    border-left: 5px solid transparent;
    padding:6px 6px 8px 8px;
}

.icons-column ion-icon:hover{
    border-left: 5px solid rgb(187, 30, 101);
    padding:6px 6px 8px 8px;
    transition: .2s;
    color:rgb(211, 65, 131);
}

.line{
    background:  rgb(220, 29, 115);
}

.icons-link-row{
    margin-left: -10px;
    height: 2rem;
    padding:4px 8px 8px 10px;
    gap:20px;
}

.icons-link-row:hover{
    cursor: pointer;
    border-radius: 4px;
    background: rgb(255, 234, 242);
}

.nav-bar:nth-child(3){
    width:13rem;
}

span{
    font-family: 'Roboto';
}

.profile-row{
    gap:20px;
}

img{
    height: 2.3rem;
    width: 2.3rem;
}

.nav-bar:nth-child(1) img,.nav-bar:nth-child(2) img{
    margin-left: 10px;
}

.nav-bar h3{
    font-size: 1.1rem;
    margin:6px 0px 0px 0px;
}

.nav-bar:nth-child(3) .top-bar ion-icon{
    background: rgb(152, 16, 56);
}

.icons-link-column{
    gap:7px;
}

.line{
    width: 100%;
    height: .1rem;
    border-radius: 200px;
}

a{
    font-size: 1rem;
    margin: 8px 0px 0px 0px;
    text-decoration: none;
}

ion-icon{
    font-size: 1.3rem;
}

.icons-link-row ion-icons{
    margin: -2px 0px 0px 20px;
}
