
body{
    background: rgb(167, 167, 167);
    font-family:Montserrat;
}

.container{
    display: flex;
}

.container{
    flex-direction: row;
}

.container{
    color:rgb(57, 57, 57);
    padding-top: 200px;
    justify-content: center;
}

.cards{
    
    padding-left: 20px;
    width:20rem;
    height: 20rem;
    background: linear-gradient(rgb(250, 247, 247),white);
    box-shadow: 2px 2px 21px 2px gray;
    border:5px outset rgb(123, 123, 123);
}

.tag{
margin-left: -21.8px;
    width: 107.5%;
    height: 5rem;
    box-shadow: 2px 2px 2px 2px black;
    background: linear-gradient(to left,rgb(220, 220, 220),rgb(241, 237, 237));
}

.button{
    background: rgb(226, 226, 226);
    color:black;
    padding:8px 10px 8px 12px;
    border:3px inset lightgray;
    text-decoration: none;
    text-align: center;
}