body{
    background: rgb(243, 95, 95);
    opacity: .8;
}

.icons-container-row,.text-container-row{
    display: flex;
}


.icons-container-row,.text-container-row{
 flex-direction: row;
}

.icons-container-row{

 background: white;
gap:10px;
width:160vh;
height: 10vh;
align-items: center;
}

.text-container-row{
    gap:200px;
    justify-content: center;
}

.icons{
    color:white;
    margin-left:130px;
    font-size:25px;
    border:1px solid red;
    border-radius:200px;
    padding:5px;
    background: red;
}

