.container .box:nth-child(1){
    box-shadow: .2px .2px 6px .2px rgb(0, 255, 0);
    background: linear-gradient(to left,rgb(6, 145, 68),#015430);
}

.container .box:nth-child(2){
    box-shadow: .2px .2px 8px .2px rgb(255, 0, 106);
    background: linear-gradient(to left,rgb(206, 11, 92),#540101);
}

.container-2 .box:nth-child(1){
    box-shadow: .2px .2px 8px .2px rgb(33, 124, 250);
    background: linear-gradient(to left,rgb(2, 44, 103),#013454);
}

.container-2 .box:nth-child(2){
    box-shadow: .2px .2px 8px .2px rgb(107, 2, 130);
    background: linear-gradient(to left,rgb(209, 58, 243),#670485);
}