body{
    font-family: sans-serif;
    background: #161621;
}

.rounded-circle{
    margin-top:403px;
    margin-left:325px;
    width:80px;
    height:80px;
    border-radius:200px;
    opacity: .77;
    background: linear-gradient(rgb(224, 73, 216),rgb(157, 20, 162));
    border:1px solid transparent;
    box-shadow: 0px 2px 22px 0px rgb(186, 41, 196)
        ,0px 2px 12px 0px rgb(208, 44, 220)
        ,0px 2px 12px 0px rgb(187, 45, 173)
        ,0px 2px 12px 0px rgb(247, 0, 255);

}

.rounded-circle-row{
    gap:350px;
}

.rounded-circle:nth-child(2){

    margin-top:190px;
    margin-left:430px;
    background: linear-gradient(rgb(238, 98, 17),rgb(235, 98, 19));
    border:1px solid transparent;
    box-shadow: 0px 2px 22px 0px rgb(220, 72, 13)
        ,0px 2px 12px 0px rgb(243, 85, 22)
        ,0px 2px 12px 0px rgb(238, 95, 28)
        ,0px 2px 12px 0px rgb(223, 100, 29);
}

.card-logo{
    padding-top: 12px;
    padding-left: 290px;
    color: transparent;
    width:90px;
    height:auto;
    background-image:none;
}

.chip-image{
    padding-left: 20px;
    width:50px;
    height:auto;
}

.cards{
    width:400px;
    backdrop-filter: blur(3px);

    z-index:+1;
    height:258px;
    border:.8px solid transparent;
    border-radius:20px;
    box-shadow: .5px .5px 4px .1px;
    background: linear-gradient(rgba(255,255,255,0.1),rgb(106, 104, 104,0.1));
}

.card-bottom-row{
    color:white;
    padding-top:5px;
    justify-content: space-around;
}

.card-bottom-row,.cards-row,.all-rounded-cicrle,.card-bottom-row-2,.rounded-circle-row,.bottom-page-rounded-circle{
    display: flex;
}
.card-bottom-row,.cards-row,.all-rounded-cicrle,.rounded-circle-row,.bottom-page-rounded-circle{
    flex-direction: row;
}



.card-no{
    padding-top:10px;
    padding-left:38px;
    color:white;
    letter-spacing: 3px;
    word-spacing: 8px;
    font-size: 22px;
}

.cards-row{
    margin-top:-280px;
    margin-left:350px;
    gap:70px;
}

.black-line{
    margin-left:-1px;
    margin-top:40px;
    padding-top: 1px;
    background: black;
    width:101%;
    height:20px;
}

.white-line{
    background: white;
    width:60%;
    opacity: .8;
    backdrop-filter: blur(20px);
    height:30px;
}

.cvv{
    padding:5px 12px 5px 12px;
    margin-top: .2px;
    background: white;
    color:black;
    height:20px;
}

.card-2-para{
    font-size:12px;
    padding-left:20px;
    color:white;
}