body{
    background: white;
    font-family: Montserrat;
}

.container,.mobile-view,.top-bar-row,.top-img-row,.buttons-container,.mobile-view-2{
    display: flex;
}

.container,.top-bar-row,.top-img-row,.buttons-container,.mobile-view-2{
    flex-direction: row;
}

.mobile-view{
    padding:0px 15px 0px 16px;
    flex-direction: column;
}

.main-container{
    gap:40px;
    justify-content: center;
}

.container{
    gap:30px;
    padding: 25px 0px 0px 0px;
    justify-content: center;
}

.mobile-view,.mobile-view-2{
    height:43.6rem;
    box-shadow: .2px .2px 5px .2px rgb(221, 218, 218);
    margin: -12px 0px 0px 0px;
    border-radius: 10px;
}

.mobile-view{
    background:linear-gradient(white,white,white);
    gap:8px;
    width:20.5rem;
}

.top-bar-row{
    justify-content: space-between;
    margin:10px 0px 0px 10px;
}

.top-bar-row ion-icon{
    font-size: 1.2rem;
}

.top-img-row{
    justify-content: center;
}

img{
    width: 6rem;
    height: auto;
}

h3{
    text-align: center;
}

.mobile-view-2{
    background:linear-gradient(white,white,white);
    width:22rem;
    padding:2px 12px 2px 12px;
    align-items: center;
}

input{
    width: 90%;
    outline: none;
    border:none;
    padding:7px 2px 7px 8px;
    border-bottom: 1px solid rgb(20, 86, 144);
}

input::placeholder{
    font-family: 'Montserrat';
}

.img-box{
    width: 6rem;
    height: 5rem;
    border:1px solid rgb(20, 86, 144);
}

p{
    text-align: center;
}

.img-box p{
    color:rgb(20, 86, 144);
    margin-top: 20px;
}

.buttons-container{

    border-radius: 8px;
    background: linear-gradient(to left,rgb(40, 145, 211),rgb(23, 117, 211));
    padding:6px 2px 6px 16px;
}

.buttons-container a{
    color:white;
    text-decoration: none;
}